# Voice Signal Preprocess
# Copyright (C) 2001-2022 NationalChip Co., Ltd
# ALL RIGHTS RESERVED!
#
# Kconfig: LM Kconfig
#---------------------------------------------------------------------------------#
if LVP_LM_YONGJIU_DRYER
    choice
        prompt "Language Models select:"
        default LVP_LM_YONGJIU_DRYER_V0DOT0DOT1_2022_0125
        source "lvp/vui/kws/lm_models/enable_lm/yongjiu_dryer/*/lm_version.name"
    endchoice

    # lm param kconfig
    source "lvp/vui/kws/lm_models/enable_lm/yongjiu_dryer/*/Kconfig"
endif

