# Voice Signal Preprocess
# Copyright (C) 2001-2022 NationalChip Co., Ltd
# ALL RIGHTS RESERVED!
#
# Kconfig: LM Kconfig
#---------------------------------------------------------------------------------#
if LVP_LM_ALI_ITON_CURTAIN
    choice
        prompt "Language Models select:"
        default LVP_LM_KWS_ALI_ITON_CURTAIN_V0DOT1DOT0_2022_0621
        source "lvp/vui/kws/lm_models/enable_lm/ali_iton_curtain/*/lm_version.name"
    endchoice

    # lm param kconfig
    source "lvp/vui/kws/lm_models/enable_lm/ali_iton_curtain/*/Kconfig"
endif

