
if LVP_LM_TOILET_DEMO_V0DOT0DOT1_2022_0125
    config KWS_MODEL_BEAMSEARCH_AND_LM_ALPHA
        default 9

    config KWS_MODEL_BEAMSEARCH_AND_LM_BETA
        default 11

    config KWS_MODEL_BEAMSEARCH_AND_LM_CUTOFF_TOP_N
        default 30
    menu "LM Model Param Setting:"
        config BEAM_SIZE
            int "BeamSearch Size"
            default 3

        config PREFIX_CHAR_LENGTH
            int "BeamSearch Prefix Char Length"
            default 8

        config LEVENSHTEIN_THRESHOLD
            int "Levenshtein Threshold (x100)"
            default 30

        config DIMSIM_THRESHOLD
            int "Dimsim Threshold (x100)"
            default 100
    endmenu
endif
