# Voice Signal Preprocess
# Copyright (C) 2001-2022 NationalChip Co., Ltd
# ALL RIGHTS RESERVED!
#
# Kconfig: LM Kconfig
#---------------------------------------------------------------------------------#
if LVP_LM_DIFU_TOILET
    choice
        prompt "Language Models select:"
        default LVP_LM_DIFU_TOILET_V0DOT0DOT1_2022_0125
        source "lvp/vui/kws/lm_models/enable_lm/difu_toilet/*/lm_version.name"
    endchoice

    # lm param kconfig
    source "lvp/vui/kws/lm_models/enable_lm/difu_toilet/*/Kconfig"
endif

