# Voice Signal Preprocess
# Copyright (C) 2001-2019 NationalChip Co., Ltd
# ALL RIGHTS RESERVED!
#
# Kconfig: LM Kconfig
#---------------------------------------------------------------------------------#
if LVP_LM_SLIGHT
    choice
        prompt "Language Models select:"
        default LVP_LM_SLIGHT_V0DOT0DOT1_2020_0917
        source "lvp/vui/kws/lm_models/enable_lm/slight/*/lm_version.name"
    endchoice

    # lm param kconfig
    source "lvp/vui/kws/lm_models/enable_lm/slight/*/Kconfig"
endif

