# Voice Signal Preprocess
# Copyright (C) 2001-2021 NationalChip Co., Ltd
# ALL RIGHTS RESERVED!
#
# Kconfig: LM Kconfig
#---------------------------------------------------------------------------------#
if LVP_LM_GENERAL_HELMET
    choice
        prompt "Language Models select:"
        default LVP_LM_GENERAL_HELMEL_V0DOT0DOT1_2021_0423
        source "lvp/vui/kws/lm_models/enable_lm/general_helmet/*/lm_version.name"
    endchoice

    # lm param kconfig
    source "lvp/vui/kws/lm_models/enable_lm/general_helmet/*/Kconfig"
endif

