# Voice Signal Preprocess
# Copyright (C) 2001-2019 NationalChip Co., Ltd
# ALL RIGHTS RESERVED!
#
# Kconfig: LM Kconfig
#---------------------------------------------------------------------------------#
if LVP_LM_JINGYI_PROJECTION_SCREEN
    choice
        prompt "Language Models select:"
        default LVP_LM_JINGYI_PROJECTION_SCREEN_V0DOT0DOT1_2021_1214
        source "lvp/vui/kws/lm_models/enable_lm/jingyi_projection_screen/*/lm_version.name"
    endchoice

    # lm param kconfig
    source "lvp/vui/kws/lm_models/enable_lm/jingyi_projection_screen/*/Kconfig"
endif

